body{
    background: #252525;
}

.teste{
    margin-top: 250px;
    text-align: center;
    justify-content: center;
    display: flex;
    color: white;
}

p{
    text-align: center;
    color: white;
}

.teste h1 {
    font-size: 100px;
}

p {
    font-size: 30px;
}